<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<body>
    <form action="#" th:action="@{/}" th:object="${personForm}" method="post">
        <table>
            <tr>
                <td>Nome:</td>
                <td><input type="text" th:field="*{nome}"/></td>
                <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Name Error</td>
            </tr>
            <tr>
                <td>Idade:</td>
                <td><input type="text" th:field="*{idade}"/></td>
                <td th:if="${#fields.hasErrors('idade')}" th:errors="*{idade}">Age Error</td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>

</body>
</html>